a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none; 
}

.navBar{
    background-color: #FCFFFF;
    z-index: 10;
    min-height: 3rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 0.25rem rgba(0,0,0,0.5);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 2.5rem;
    padding: 0.15rem 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    background: transparent;
}

.button span{
    font-size: 2.5rem;
}

.cultureCard{
    width: 95%;
    height: auto;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.Cimage{
    width: 90%;
    height: 13rem;
    overflow: hidden;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.Cimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc{
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: 'inter', sans-serif;
}

.name{
    width: 100%;
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

.description{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #555555;
}

.title{
    width: 100%;
    height: 12rem; 
    margin-bottom: 1.5rem; 
    position: relative;
}

.image{
    width: 100%;
    height: 100%;
    position: absolute;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text{
    width: 100%;
    position: absolute;
    background-color: transparent !important;
    z-index: 10;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0,0,0,0));

}

.title .text,
.title .text * {
    background-color: transparent !important;
}

.text h1{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 8rem;
    letter-spacing: 0.1rem;
}

.TOC{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;   
}

.TOCtitle{
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.TOClist{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.TOClist ul{
    list-style-type: disc;
    margin-left: 1.5rem;
}

.TOClist ul li{
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
}

