a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none; 
}

.navBar{
    background-color: #FCFFFF;
    z-index: 10;
    min-height: 3rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 0.25rem rgba(0,0,0,0.5);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 2.5rem;
    padding: 0.15rem 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    background: transparent;
}

.button span{
    font-size: 2.5rem;
}

.title{
    width: 100%;
    height: 12rem; 
    margin-bottom: 1.5rem; 
    position: relative;
}

.image{
    width: 100%;
    height: 100%;
    position: absolute;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text{
    width: 100%;
    position: absolute;
    background-color: transparent !important;
    z-index: 10;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0,0,0,0));

}

.title .text,
.title .text * {
    background-color: transparent !important;
}

.text h1{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 8rem;
    letter-spacing: 0.1rem;
}

.cards{
    height: 10rem;
    width: 90%;
    margin-top: 1rem;
}

.Cimage{
    height: 90%;
    width: 100%;
}

.desc{
    height: 10%;
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;
}

