@page "/fashion"

<PageTitle>Fashion</PageTitle>

@inject FashionP.Services.CardService CardService

@code {

    private List<FashionP.Models.Card> cards;

    protected override void OnInitialized()
    {
        cards = CardService.GetCards();
    }
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back_ios,checkroom,diversity_1,forum,home" />
</head>

<div>
    <div class ="title">
        <div class ="text">
            <h1>Fashion</h1>
        </div>
        <div class ="image">
            <img src="https://photos.smugmug.com/Kyoto/How-to-Dress-in-Japan/i-zcN5cG2/0/DQDJ4BFstN7bcTBg5h9fzk86JkdM6ttkqknFCRrVS/L/dress-shibuya-crossing-L.jpg" />
        </div>
    </div>

    <div class="cards">
        @foreach (var card in cards)
        {
            <div class="card">
                <div class="Cimage">
                    <img src="@card.ImageUrl" alt="@card.Title" />
                </div>
                <div class="desc">
                    <h2>@card.Title</h2>
                </div>
            </div>
        }
    </div>

    <div class="navBar">
        <a href="/">
            <div class="button">
                <span class="material-symbols-outlined">
                home
                </span>
            </div>
        </a>
        <a href="/culture">
            <div class="button">
                <span class="material-symbols-outlined">
                diversity_1
                </span>
            </div>
        </a>
        <a href="/forum">
            <div class="button">
                <span class="material-symbols-outlined">
                forum
                </span>
            </div>
        </a>
        <a href="/fashion">
            <div class="button">
                <span class="material-symbols-outlined">
                checkroom
                </span>
            </div>
        </a>
    </div>
</div>