@page "/fashion"

<PageTitle>Fashion</PageTitle>

@code {
    
}

<div class="navBar">
        <a href="/">
            <div class="button">
                <span class="material-symbols-outlined">
                home
                </span>
            </div>
        </a>
        <a href="/culture">
            <div class="button">
                <span class="material-symbols-outlined">
                diversity_1
                </span>
            </div>
        </a>
        <a href="/forum">
            <div class="button">
                <span class="material-symbols-outlined">
                forum
                </span>
            </div>
        </a>
        <a href="/fashion">
            <div class="button">
                <span class="material-symbols-outlined">
                checkroom
                </span>
            </div>
        </a>
    </div>