@page "/forum"
@using FashionP.Services
@using Microsoft.AspNetCore.Components.Web
@using FashionP.Models
@inject  FService FService

<PageTitle>Forum</PageTitle>

@code {
    private List<FashionP.Models.Forum> forums;

    protected override void OnInitialized()
    {
        forums = FService.GetForums();
    }
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back_ios,checkroom,diversity_1,forum,home" />
</head>

<h1>Forum Page</h1>

<div>
    @foreach (var forum in forums)
    {
        <div class ="forum-post">
            <div class ="top">
            <h2>@forum.Title</h2>
            <h2>@forum.Date</h2>
            </div>
        </div>
    }
    <div class="navBar">
        <a href="/">
            <div class="button">
                <span class="material-symbols-outlined">
                home
                </span>
            </div>
        </a>
        <a href="/culture">
            <div class="button">
                <span class="material-symbols-outlined">
                diversity_1
                </span>
            </div>
        </a>
        <a href="/forum">
            <div class="button">
                <span class="material-symbols-outlined">
                forum
                </span>
            </div>
        </a>
        <a href="/fashion">
            <div class="button">
                <span class="material-symbols-outlined">
                checkroom
                </span>
            </div>
        </a>
    </div>
</div>