@page "/"

<PageTitle>Home</PageTitle>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<div class="home-page">
    <div class="image">
        <img src="https://media.voguebusiness.com/photos/5da09bf14f244c00081cd59c/2:3/w_2560%2Cc_limit/tokyo-fashion-week-oct-credit-Emily%2520Malan-19-article.jpg" />
    </div>
    <div class="text">
        <div class="space">

        </div>
        <div class="title">
            <h1>
                Unfolded
            </h1>
        </div>
        <div class="desc">
            <p>
                UnFolded is a global fashion platform that celebrates diverse styles and cultures from around the world. From Tokyo’s streetwear to Parisian couture, it explores the stories, craftsmanship, and creativity that shape how we express identity through fashion.
            </p>
        </div>
    </div>
    <div class="navBar">
        <div class="button">
        
        </div>
        <div class="button">
        
        </div>
        <div class="button">
        
        </div>
        <div class="button">
        
        </div>
    </div>
</div>
