.home-page{
    width: 100%;
    height: auto;
}

.image{
    width: 100%;
    height: 35rem;
    display: flex;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text{
    width: 100%;
    height: auto;
    margin-top: 0;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0, 0, 5rem, rgba(0, 0, 0, 0.2);
    position: relative;
    top: -3rem;
}

.space{
    height: 1rem;
    opacity: 0 ;
}

.title{
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.desc{
    margin-top: 2rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 17.78px;
    padding: 0 2rem;
}

.navBar{
    background-color: #FCFFFF;
    height: 5rem;
    width: 100%;
    stroke: black;
    position: fixed;
}

